<div class="container" ng-cloak>
    <div class="row">
        <div class="col-lg-6 col-md col-sm mx-auto">
            <h2 class="text-center pt-4">{{'REGISTER_PAGE_TITLE' | translate}}</h2>
            <div class="alert alert-success" ng-message="required" ng-show="register.successMsg">
                {{register.successMsg}}
            </div>
            <form name="regForm" novalidate>
                <div class="form-group row">
                    <label for="name" class="col-sm-1 col-form-label">
                        <i class="fas fa-user"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" ng-model="register.data.name" autofocus
                            placeholder="{{'USER_NAME' | translate}}" autocomplete="name">
                        <div class="alert alert-danger" role="alert" ng-show="register.errorMsg.name">
                            {{register.errorMsg.name}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-1 col-form-label">
                        <i class="fas fa-envelope"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" ng-model="register.data.email"
                            placeholder="{{'EX_MAIL' | translate}}" autocomplete="email">
                        <div class="alert alert-danger" role="alert" ng-show="register.errorMsg.email">
                            {{register.errorMsg.email}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-1 col-form-label">
                        <i class="fas fa-unlock-alt"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" ng-model="register.data.password"
                            placeholder="{{'EX_PASS' | translate}}" autocomplete="new-password">
                        <div class="alert alert-danger" role="alert" ng-show="register.errorMsg.password">
                            {{register.errorMsg.password}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-1 col-form-label">&nbsp</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirmPassword"
                            ng-model="register.data.confirmPassword" placeholder="{{'CONFIRM_PASS' | translate}}"
                            autocomplete="new-password">
                        <div class="alert alert-danger" role="alert" ng-show="register.errorMsg.confirmPassword">
                            {{register.errorMsg.confirmPassword}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <button class="btn btn-block btn-warning btn-sm mt-4" ng-disabled="register.submit"
                            ng-click="register.regUser(data);" type="submit">
                            {{'REGISTER' | translate}}
                        </button>
                    </div>
                </div>
                <div class="sn-form-login global-cursor" ng-click="goView('/login');">
                    {{'SEC_H_ACCOUNT' | translate}}
                </div>
            </form>
            <div class="d-flex justify-content-center" ng-show="register.submit">
                <div class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>