<div class="footer" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-lg col-md col-sm">
                <h4>{{'CONTACT' | translate}}</h4>
                <p>{{main.title}}</p>
            </div>
            <div class="col-lg col-md col-sm">
                <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-2x fa-fw fa-facebook-f text-white"></i>
                    </a>
                </div>
                <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fab fa-2x fa-fw fa-twitter text-white"></i>
                    </a>
                </div>
                <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                    <a href="https://www.linkedin.com/company/" target="_blank">
                        <i class="fab fa-2x fa-fw fa-linkedin-in text-white"></i>
                    </a>
                </div>
                <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                    <a href="https://www.google.com/" target="_blank">
                        <i class="fab fa-2x fa-fw fa-google-plus-g text-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="d-inline-block">
                    <h4>{{'LANG' | translate}}</h4>
                    <a class="global-cursor" ng-click="main.switchLanguage('pt-br')">
                        <img class="flag" src="./img/flag/brazil_flags_flag_16979.png" alt="pt-br">
                    </a>
                    <a class="global-cursor" ng-click="main.switchLanguage('en')">
                        <img class="flag" src="./img/flag/united_states_flags_flag_17080.png" alt="en">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>