<div class="container" ng-controller="mainCtrl as main" ng-cloak>
    <div class="row">
        <div class="col-lg-6 col-md col-sm mx-auto">
            <h2 class="text-center pt-4">{{'LOGIN_PAGE_TITLE' | translate}}</h2>
            <div class="alert alert-danger text-center" role="alert" ng-message="required"
                ng-show="main.errorMsgActive">
                {{main.errorMsgActive}}
                <br>
                <a ng-click="goView('/resend')">
                    <button class="btn btn-block btn-sm btn-success">
                        {{'R_ACTIV_LINK' | translate}}
                    </button>
                </a>
            </div>
            <form name="loginForm" novalidate>
                <div class="form-group row">
                    <label for="email" class="col-sm-1 col-form-label">
                        <i class="fas fa-envelope"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" ng-disabled="main.submit"
                            ng-model="main.data.email" autofocus placeholder="{{'EX_MAIL' | translate}}"
                            autocomplete="email">
                        <div class="alert alert-danger" role="alert" ng-show="main.errorMsg.email">
                            {{main.errorMsg.email}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-1 col-form-label">
                        <i class="fas fa-unlock-alt"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" ng-disabled="main.submit"
                            ng-model="main.data.password" placeholder="{{'EX_PASS' | translate}}"
                            autocomplete="new-password">
                        <div class="alert alert-danger" role="alert" ng-show="main.errorMsg.password">
                            {{main.errorMsg.password}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <div class="fg-form-login pt-2 mb-2 global-cursor" ng-click="goView('/forgotpassword');">
                            {{'FG_PASS' | translate}}
                        </div>
                        <button class="btn btn-block btn-sm btn-warning" ng-disabled="main.submit"
                            ng-click="main.doLogin(data)" type="submit">
                            {{'SIGNIN' | translate}}
                        </button>
                        <h2 class="pt-4 text-center">{{'LOGGIN_WITH' | translate}}</h2>
                        <div class="form-group m-4 text-center">
                            <a class="global-cursor" ng-click="main.facebook()">
                                <i class="fab fa-3x fa-fw fa-facebook-square text-ls-facebook"></i>
                            </a>
                            <a class="global-cursor" ng-click="main.twitter()">
                                <i class="fab fa-3x fa-fw fa-twitter-square text-ls-twitter"></i>
                            </a>
                            <a class="global-cursor" class="d-inline-block()" ng-click="main.google()">
                                <i class="fab fa-3x fa-fw fa-google-plus-square text-ls-google"></i>
                            </a>
                        </div>
                        <div class="sn-form-login global-cursor" ng-click="goView('/register');">
                            {{'SEC_D_H_ACCOUNT' | translate}}
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center" ng-show="main.successMsg">
                <div class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>