<div class="container" ng-cloak>
    <div class="row">
        <div class="col-lg-6 col-md col-sm mx-auto">
            <h2 class="text-center  pt-4">{{'AC_ACTIV_RESET_LINK_PAGE_TITLE' | translate}}</h2>
            <div class="alert alert-success" ng-message="required" ng-show="activation.successMsgResend">
                {{activation.successMsgResend}}
            </div>
            <div class="card-body">
                <p class="text-center mb-4">{'RESENT_TOKEN_TEXT' | translate}</p>
                <div class="d-flex justify-content-center mb-4" ng-show="activation.sendLink">
                    <div class="spinner-border spinner-border-sm text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <form novalidate>
                    <div class="form-group row">
                        <label for="email" class="col-sm-1 col-form-label">
                            <i class="fas fa-envelope"></i>
                        </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" ng-disabled="activation.sendLink"
                                ng-model="activation.activationData.email" autofocus
                                placeholder="{{'EX_MAIL' | translate}}" autocomplete="email">
                            <div class="alert alert-danger" role="alert" ng-show="activation.errorMsgResend.email">
                                {{activation.errorMsgResend.email}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label">&nbsp;</label>
                        <div class="col-sm-10">
                            <button class="btn btn-block btn-sm btn-warning" ng-disabled="activation.sendLink"
                                ng-click="activation.resendLink(activationData)" type="submit">
                                {'BUTTON_SEND' | translate}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>